<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Wiki Maps-Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />

    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>


    <!-- App JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="map-container">
      <div id="map">
        <script>
          const map = L.map('map').setView([43.657572963908336, -79.41145185759068], 12);

          // maptiler
          L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=MSPwE9Jr5bzs11wgXA8F', {
          attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
          maxZoom: 18,
          id: 'mapbox/streets-v11',
          tileSize: 512,
          zoomOffset: -1,
          accessToken: 'your.mapbox.access.token',
          }).addTo(map);

          // google map tile
          L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
          maxZoom: 18,
          subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
          }).addTo(map);
        </script>
      </div>
      <div class = "intro-text">
      <h2>Explore the World!</h2>
      <p>The world is at your fingertips with WikiMaps! Create maps with points of interest around your city. Are you a foodie who knows the best places to eat around town or a movie buff who knows the locations of famous movie scenes?? Then go ahead and make your first WikiMap and share it with your friends,followers and the world!!!! </p>
      <a id="link" href="http://localhost:8080/maps/"><b>Explore available maps! ></b></a>
    </div>
    </div>
    <div class ="mapList-container">
      <% for (let i = 0; i < Object.keys(topMapsObj).length; i++) { %>
        <div class="mapList-box">
          <img src="/images/Toronto-map.png">
          <h3 class="mapList-title"><%= topMapsObj[i].title %></h3>
          <p><%= topMapsObj[i].description %></p>
          <p>Created by: <a href="/users/<%= topMapsObj[i].creator_id %>"><%= topMapsObj[i].created_by %></a></p>
          <a type="button" class="btn btn-primary btn-sm mapList-btn" href="/maps/<%= topMapsObj[i].id %>">View Map</a>
        </div>
        <% } %>
    </div>
    <%- include('partials/_footer') %>
  </body>

</html>
