<%- include('partials/_header') %>
<% let favArray = []; %>
<%for (let i = 0; i < Object.keys(favMapsObj).length; i++) { %>
<% favArray.push(favMapsObj[i].map_id); %>
<% } %>

<div id="content-wrap">

  <div class="container mt-4">
    <p class="hack"><%= JSON.stringify(mapData) %></p>
    <div class="map-heart">
      <h1>Map: <%= mapData[0].title %></h1>
      <% if(favArray.includes(mapData[0].id)){ %>
      <button class="heart-button" data-map-id="<%= mapData[0].id %>" data-user-id="<%- user %>">
        <i class="fas fa-heart fa-heart-fav heart-map-id"></i>
      </button>
      <% } else {%>
      <button class="heart-button" data-map-id="<%= mapData[0].id %>" data-user-id="<%- user %>">
        <i class="fas fa-heart heart-map-id"></i>
      </button>
      <% } %>
    </div>
    <div id="map">
      <script>
        const mapData = JSON.parse(document.querySelector('.hack').innerHTML);
        console.log(mapData);
        const map = L.map('map').setView([mapData[0].map_lat, mapData[0].map_lng], 12);

        // google map tile
        L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
          maxZoom: 18,
          subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
        }).addTo(map);

        const newIcon = L.icon({
          iconUrl: '/images/red-marker-icon.png',

          iconSize: [48, 48],
          iconAnchor: [24, 50],
          popupAnchor: [0, -40]
        })

        // check to see if there is point data before looping
        if (mapData[0].point_name) {

          for (let i = 0; i < Object.keys(mapData).length; i++) {
            // console.log(mapData.length)
            marker = new L.marker([mapData[i].latitude, mapData[i].longitude], {
                icon: newIcon
              })
              .bindPopup(
                `
                  <h6>${mapData[i].point_name}</h6>
                <p>${mapData[i].point_description}</p>
                `)
              .addTo(map);
          }
        }


        // adds popup with lat and long
        const popup = L.popup();

        function onMapClick(e) {
          // const formLat = $('textarea.form-lat');
          // const formLng = $('textarea.form-lng');

          popup
            .setLatLng(e.latlng)
            .setContent(`You clicked the map at ${e.latlng.toString()}`)
            .openOn(map);

          console.log(e.latlng);
          // mapLatitude = e.latlng.lat;
          // mapLongitude = e.latlng.lng;

          document.querySelector('.form_lat').value = e.latlng.lat.toString();
          document.querySelector('.form_lng').value = e.latlng.lng.toString();

        }
        map.on('click', onMapClick);

      </script>

      <%= console.log(mapData[0]) %>

    </div>
    <div class="map-content">
      <div class="map-info">
        <h2>About Map</h2>
        <h6>Map By: <%= mapData[0].created_by %> </h6>
        <p><%= mapData[0].description %></p>
        <div class="add-points-and-view-points">


        </div> <!-- end of map info-->


      </div>
      <div class="map-form-add-point">
        <h3>Add Point</h3>
        <form action="/maps/pointer" method="post" class="map-form">
          <input type="text" name="point_title" id="point_title" placeholder="Title">
          <input type="text" name="point_description" id="point_description" placeholder="Description">
          <input type="url" name="img_url" id="img_url" placeholder="Image URL">
          <input type="text" class="form_lat" name="form_lat" id="form_lat" placeholder="Latitude">
          <input type="text" class="form_lng" name="form_lng" id="form_lng" placeholder="Longitude">
          <input type="text" name="map_id" id="map_id_hide" value="<%= mapData[0].id %>">
          <button type="submit" class="btn btn-primary mapList-btn">Submit</button>
        </form>

      </div>
    </div>
    <div class="mapList-container">
      <% if (mapData[0].point_name) { %>
      <% for (let i = 0; i < Object.keys(mapData).length; i++) { %>
      <div class="mapList-box">
        <div class="mapList-info">

          <img src="<%= mapData[i].point_img %>" alt="" class="points-image">
          <h3 class="mapList-title"><%= mapData[i].point_name %></h3>
          <p><%= mapData[i].point_description %></p>
          <p><%= mapData[i].latitude %></p>
          <p><%= mapData[i].longitude %></p>
        </div>
      </div>
      <% } %>
      <% } %>

    </div>
  </div>
  <%- include('partials/_footer') %>
</div>
</body>

</html>
